---
layout: default
---


<div class="bg-light content" data-aos="fade">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-8 blog-content text-justify mx-auto pt-5">
        <h1 class="article-slim my-5 py-5 text-left">
          <small class="text-primary">ArcheoFOSS {{ year }}</small><br>
          {{ page.title }}
        </h1>
        {% if page.img %}
        <div class="mb-4">
          <img src="{{ page.img }}" class="img-fluid shadow" alt="{{ page.title }}">
        </div>
        {% endif %}
        {{ content }}
        <div class="my-5">
        {% for img in page.images %}
        {% assign imgArr = img | split:"|" %}
          <figure class="my-3">
            <a href="/images/{{ imgArr[0] }}" data-fancybox="gallery" data-caption="{{ imgArr[1] | replace: '"', '\""' }}">
              <img src="/images/{{ imgArr[0] }}" alt="{{ imgArr[1] | replace: '"', '\""' }}" class="img-fluid">
            </a>
            <figcaption>
              {{ imgArr[1] }}
            </figcaption>
          </figure>
        {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>  
