{% for item in site.data.menu %}
  {% assign with_slashes = item[0] | append: '/' | prepend: '/' %}
  {% if page.url contains with_slashes %}
    {% assign year = item[0] %}
  {% endif %}
{% endfor %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">

    {% for item in site.data.redirects %}
    {% if page.url == item.from and item.to %}
    <meta http-equiv="refresh" content="0; URL={{ item.to }}">
    <link rel="canonical" href="{{ item.to }}">
    {% endif %}
    {% endfor %}

    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
    <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
    <meta property="og:url" content="{{ page.url | absolute_url }}" />
    <meta property="og:image" content="{% if page.image %}{{ page.image | absolute_url }}{% else %}{{ site.logo | absolute_url }}{% endif %}" />
    <meta property="og:type" content="website" />
    <meta property="og:updated_time" content="{{ site.time | date: "%s" }}" />


    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700, 900|Vollkorn:400i" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha256-UhQQ4fxEeABh4JrcmAJ1+16id/1dnlOEVCFOxDef9Lw=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha256-kksNxjDRxd/5+jGurZUJd1sdR2v+ClrCl3svESBaJqw=" crossorigin="anonymous" /> -->

    <link rel="stylesheet" href={{"css/style.css" | relative_url }}>
    {% if page.custom_css %}
      {% for css in page.custom_css %}
        {% if css contains "http" %}
        <link rel="stylesheet" href="{{ css }}">
        {% else %}
        <link rel="stylesheet" href={{"css/" | append: css | append: ".css" | relative_url }}>
        {% endif %}
      {% endfor %}
    {% endif %}
  </head>
  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

    <div class="site-wrap">

      <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body"></div>
      </div>
     
      
      <header class="site-navbar js-sticky-header site-navbar-target" role="banner" >
  
        <div class="container">
          <div class="row align-items-center">
            
            <div class="col-8 col-xl-2">
              <h1 class="mb-0 site-logo">
                <a href={{ "/" | relative_url }} class="h2 mb-0">
                  ARCHEO<span class="text-primary">.</span>FOSS 
                </a>
                {% if year %} <a href={{ "/" | append: year | relative_url }} class="h2 mb-0"><span class="text-primary">|{{ year }}</span></a>{% endif %}
                </a>
              </h1>
            </div>
  
            <div class="col-12 col-md-10 d-none d-xl-block">
              {% include menu.html year=year %}
            </div>

            <div class="col-4 d-inline-block d-xl-none ml-md-0 py-3" style="position: relative; top: 3px;">
              <a href="#" class="site-menu-toggle js-menu-toggle float-right">
                <span class="icon-menu h3">
                  <svg viewBox="0 0 100 80" width="40" height="40">
                    <rect width="100" height="10"></rect>
                    <rect y="30" width="100" height="10"></rect>
                    <rect y="60" width="100" height="10"></rect>
                  </svg>
                </span>
              </a>
            </div>
          </div>
        </div>
        
      </header>

      {{ content }}
  
    
      <footer class="site-footer">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <h2 class="footer-heading mb-4">Archeo.FOSS</h2>
              <p>Open software, hardware, processes, data and formats in archaeological research</p>

            </div>
            <div class="col-md-4 text-center">
              <h2 class="footer-heading mb-4">Follow us</h2>
              {% for item in site.data.social %}
              <a href="{{ item.url }}" class="pl-0 pr-3" title="{{ item.title }}"><i class="fab fa-lg fa-{{ item.icon }}"></i></a>
              {% endfor %}
              <hr>
              {% include mailchimp.html %}
            </div>
            <div class="col-md-4 text-right text-light">
              Copyright &copy; ArcheoFOSS <script>document.write(new Date().getFullYear());</script> <br />
              <i class="fab fa-creative-commons fa-2x"></i>
              <i class="fab fa-creative-commons-by fa-2x"></i>
              <i class="fab fa-creative-commons-sa fa-2x"></i>
              <br>
              <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank" rel="license">
                CreativeCommons Attribution - Share alike 4.0 International License (CC BY-SA 4.0)
              </a>
            </div>
          </div>
        </div>
      </footer>
  
    </div> <!-- .site-wrap -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.sticky/1.0.4/jquery.sticky.min.js" integrity="sha256-9p9wUORIjnIRp9PAyZGxql6KgJRNiH04y+8V4JjUhn0=" crossorigin="anonymous"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha256-pTxD+DSzIwmwhOqTFN+DB+nHjO4iAsbgfyFq5K5bcE0=" crossorigin="anonymous"></script> -->
  <script src="https://kit.fontawesome.com/f8b8c51d6c.js" crossorigin="anonymous"></script>

  <script src={{ "js/main.js" | relative_url }}></script>

  {% if page.custom_js %}
    {% for js in page.custom_js %}
      {% if js contains "http" %}
      <script src="{{ js }}"></script>
      {% else %}
      <script src={{ "js/" | append: js | append: ".js" | relative_url }}></script>
      {% endif %}

    {% endfor %}
  {% endif %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-165820817-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-165820817-1');
  </script>
  </body>
</html>
