---
layout: default
---
<section class="site-blocks-cover overflow-hidden bg-light">
  <div class="container">
    <div class="row">
      <div class="align-self-end text-center col-md-6 offset-md-3">
        <div class="intro-text">
          <h1>Archeo<span class="text-primary">.</span>FOSS</h1>
          <p class="mb-4">
            International conference on Open software, hardware, processes, data and formats in archaeological research</p>
          <p class="pulsate-home">
            To attend online to the conference works, please use <a href="https://teams.microsoft.com/l/meetup-join/19%3ameeting_MDk2YTUzZTgtNmVlZS00MWJhLTliMTQtMjk0NWRhNGFhOTUw%40thread.v2/0?context=%7b%22Tid%22%3a%2241f8b7d0-9a21-415c-9c69-a67984f3d0de%22%2c%22Oid%22%3a%22bb98d1a8-5cf0-46cd-a009-0db6ba7225a3%22%7d">this link</a>. Passcode: <code>sa65UG2X</code>.
          </p>
            <img src="{{ "images/archeofoss-2.svg" | relative_url }}" alt="Image" class="img-fluid cover-img">
        </div>
      </div>
      
    </div>
  </div>
</section> 

{% if content %}
<section class="site-section" id="about-section">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2 text-justify">
        <h1 class="text-black mb-3 text-center">{{ page.title }}</h1>
        <div class="my-5 content">
          {{ content}}
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}
