---
layout: default
---
<section class="site-blocks-cover overflow-hidden bg-light">
  <div class="container">
    <div class="row">
      <div class="align-self-end text-center col-md-6 offset-md-3">
        <div class="intro-text">
          <h1>Archeo<span class="text-primary">.</span>FOSS</h1>
          <p class="mb-4">
            International conference on Open software, hardware, processes, data and formats in archaeological research</p>
          
          <p class="pulsate-home">
            <a href="/2025/info">
              We are pleased to announce that the final program for the 19th ArcheoFOSS conference (27 - 28 November 2025) is available here.
              <br />The conference will be held in dual format, in presence and online.
          </p> <br />
          <p class="pulsate-home">
            <b><a href="https://s.mapod4d.it/s/archeofoss2025" target="_blank">Teams link to the conference</a><b>
            </p>
          <img src="{{ "images/archeofoss-2.svg" | relative_url }}" alt="Image" class="img-fluid cover-img">
        </div>
      </div>
      
    </div>
  </div>
</section> 

{% if content %}
<section class="site-section" id="about-section">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2 text-justify">
        <h1 class="text-black mb-3 text-center">{{ page.title }}</h1>
        <div class="my-5 content">
          {{ content}}
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}
