---
layout: default
---
<section class="site-blocks-cover overflow-hidden bg-light">
  <div class="container">
    <div class="row">
      <div class="align-self-end text-center col-md-6 offset-md-3">
        <div class="intro-text">
          <h1>Archeo<span class="text-primary">.</span>FOSS</h1>
          <p class="mb-4">
            International conference on Open software, hardware, processes, data and formats 
            <span class="d-block">in archaeological research</span></p>
          <p class="pulsate-home">
            <a href="/2023/call-for-papers" title="The call for papers of ArcheoFOSS 2023 has been published!">
              The call for papers of ArcheoFOSS 2023 has been published! Submit your abstract before October 20.
            </a>
          </p>
          <p class="pulsate-home">
            <a href="/2022/proceedings" title="The proceedings of ArcheoFOSS 2022 have been published!">
              The proceedings of ArcheoFOSS 2022 have been published!
            </a>
          </p>
            <img src="{{ "images/archeofoss-2.svg" | relative_url }}" alt="Image" class="img-fluid cover-img">
        </div>
      </div>
      
    </div>
  </div>
</section> 

{% if content %}
<section class="site-section" id="about-section">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2 text-justify">
        <h1 class="text-black mb-3 text-center">{{ page.title }}</h1>
        <div class="my-5 content">
          {{ content}}
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}
